.sc-digi-header-navigation-h .digi-header-navigation__inner.sc-digi-header-navigation {
  justify-content: flex-end;
}

.sc-digi-logo-h .digi-logo--system-name.sc-digi-logo svg.sc-digi-logo {
  display: none;
}

.sc-digi-header-h .digi-header__wrapper.sc-digi-header {
  width: 300px;
  margin-left: 20px;
}

.sc-digi-logo-h {
  display: flex;
  justify-content: center;
}