main {
    display: flex;
    width: 100%;
}

.top{
    text-align: center;
    width: 100%;
}

.job-ad {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-column, 
.info-card-column {
  max-width: 100%;
}

.job-description {
  margin-top: 2rem;
}

.info-card-column {
    width: 300px;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.contact {
  margin-top: 2rem;
}

.id-published {
  margin-top: 2rem;
  gap: 0;
}

@media (max-width: 768px) {
  .job-ad {
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .info-card-column {
    width: 100%;
    position: static;
    margin-top: 1rem;
  }
}

:root {
  --digi--color--border--secondary: #058470;

  .sc-digi-info-card-h .digi-info-card--related.sc-digi-info-card {
    --BACKGROUND-COLOR: #FFDD93;
  }
}
