main {
  display: flex;
  width: 100%;
}
.sc-digi-link-s>a svg, 
.sc-digi-link-s>a {
  color: #046355;

}

.sc-digi-link-s>a:visited,
.sc-digi-link-s>a:visited svg  {
  color: #046355;
}

.job-ad {
  display: flex;
  justify-content: space-between;
}

.job-description {
  margin-top: 2rem;
}

.info-card-column {
  width: 300px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 2rem;
}

.id-published {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .job-ad {
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .info-card-column {
    width: 100%;
    position: static;
    margin-top: 1rem;
  }
}